<ion-header>
  <ion-toolbar>
    <ion-title text-center size="18px">Login</ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content padding>
	<ion-list>

		<ion-item>
		  
		  <ion-input placeholder="your@email.com" type="text" [(ngModel)]="username"></ion-input>
		</ion-item>
	  <br>
		<ion-item>
		  <ion-input placeholder="Password" type="password" [(ngModel)]="password"></ion-input>
		</ion-item>
	  
	  </ion-list>
			<br><br>
			<ion-button  fill="solid" expand="block"  (click)="login()">Login</ion-button>
			
			<br><br>
			<ion-row>
				<div text-center id="pip">
			If you don't have an account, please <a  color="wihte" routerLink='/register'>
				register</a> first!
				</div>
		</ion-row>

		</ion-content>