
<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

	<div id="profile-info" *ngIf="username">
		<ion-grid>
			<ion-row>
				<ion-col>
					<img class="main-image" src="https://previews.123rf.com/images/nicoelnino/nicoelnino1709/nicoelnino170900059/87166599-concept-data-management-system-dms-et-business-analytics-avec-serveurs-connect%C3%A9s-au-tableau-de-bord-po.jpg" />
				</ion-col>
				<ion-col size="8">
					<p><b> {{username}}</b></p>
					<ion-button shape="round"  routerLink="/tabs/edit-profile" position="center">Edit Profile</ion-button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
	
</ion-content>





