#images {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	max-width: 100%;
	width: 606px;
}

.image {
	margin-left: 1px;
	margin-right: 1px;


}


.main-image {
	width: 120px;
	height: 120px;
	border-radius:50%;


}
ion-title{
    --color:#875A7B;
   
}
ion-button{
    --background: #00A09D;
}
p{
color:#875A7B;
padding-left: 40px;
padding-right: 40px;
padding-bottom: 60px;

}
